<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam deserunt
      quidem nulla aperiam, mollitia asperiores tempora voluptatibus
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam deserunt
      quidem nulla aperiam, mollitia asperiores tempora voluptatibus
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam deserunt
      quidem nulla aperiam, mollitia asperiores tempora voluptatibus
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
